{{ if $.Scratch.Get "ShowBooks" }}
<div class="widget-wrap">
  <h3 class="widget-title">
      Recently Finished Books
  </h3>
  <div class="widget">
    <style type="text/css" media="screen">
      .gr_grid_container {
        /* customize grid container div here. eg: width: 500px; */
      }

      .gr_grid_book_container {
        /* customize book cover container div here */
        float: left;
        width: 98px;
        height: 160px;
        padding: 0px 0px;
        overflow: hidden;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    </style>
    <div id="gr_grid_widget_1448248151">
      <div class="gr_grid_container">
        <div class="gr_grid_book_container"><a title="PRIMAL Renegade (The PRIMAL Series Book 8)" href="https://www.goodreads.com/book/show/26067103-primal-renegade"><img alt="PRIMAL Renegade" border="0" src="https://d.gr-assets.com/books/1439119228m/26067103.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Atlantis Revelation (Conrad Yeats Adventure, #3)" href="https://www.goodreads.com/book/show/6408496-the-atlantis-revelation"><img alt="The Atlantis Revelation" border="0" src="https://d.gr-assets.com/books/1408333180m/6408496.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Atlantis Prophecy (Conrad Yeats Adventure #2)" href="https://www.goodreads.com/book/show/1574840.The_Atlantis_Prophecy"><img alt="The Atlantis Prophecy" border="0" src="https://d.gr-assets.com/books/1327939005m/1574840.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Raising Atlantis (Conrad Yeats Adventure #1)" href="https://www.goodreads.com/book/show/1079771.Raising_Atlantis"><img alt="Raising Atlantis" border="0" src="https://d.gr-assets.com/books/1390688668m/1079771.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Midnight Watch (Sigma Force #10.5)" href="https://www.goodreads.com/book/show/26888066-the-midnight-watch"><img alt="The Midnight Watch" border="0" src="https://d.gr-assets.com/books/1444254042m/26888066.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="First Degree" href="https://www.goodreads.com/book/show/1017873.First_Degree"><img alt="First Degree" border="0" src="https://d.gr-assets.com/books/1388781799m/1017873.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Gone for Good" href="https://www.goodreads.com/book/show/43930.Gone_for_Good"><img alt="Gone for Good" border="0" src="https://d.gr-assets.com/books/1388200178m/43930.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="PRIMAL Redemption (PRIMAL #7)" href="https://www.goodreads.com/book/show/25284369-primal-redemption"><img alt="PRIMAL Redemption" border="0" src="https://d.gr-assets.com/books/1441918472m/25284369.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Last Refuge (Dewey Andreas, #3)" href="https://www.goodreads.com/book/show/13166945-the-last-refuge"><img alt="The Last Refuge" border="0" src="https://d.gr-assets.com/books/1331801133m/13166945.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="PRIMAL Nemesis (PRIMAL #6)" href="https://www.goodreads.com/book/show/25045854-primal-nemesis"><img alt="PRIMAL Nemesis" border="0" src="https://d.gr-assets.com/books/1428470849m/25045854.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="MirrorWorld" href="https://www.goodreads.com/book/show/22545462-mirrorworld"><img alt="MirrorWorld" border="0" src="https://d.gr-assets.com/books/1426664424m/22545462.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Rogue Wave" href="https://www.goodreads.com/book/show/10362926-rogue-wave"><img alt="Rogue Wave" border="0" src="https://d.gr-assets.com/books/1328311928m/10362926.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Storm Prey (Lucas Davenport, #20)" href="https://www.goodreads.com/book/show/7937032-storm-prey"><img alt="Storm Prey" border="0" src="https://d.gr-assets.com/books/1348737513m/7937032.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="SecondWorld" href="https://www.goodreads.com/book/show/13167109-secondworld"><img alt="SecondWorld" border="0" src="https://d.gr-assets.com/books/1344314337m/13167109.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Contract to Kill (Nathan McBride, #5)" href="https://www.goodreads.com/book/show/25079006-contract-to-kill"><img alt="Contract to Kill" border="0" src="https://d.gr-assets.com/books/1434554172m/25079006.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Gathering Prey (Lucas Davenport, #25)" href="https://www.goodreads.com/book/show/23281640-gathering-prey"><img alt="Gathering Prey" border="0" src="https://d.gr-assets.com/books/1417985559m/23281640.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Endgame (A Jack Sigler / Chess Team Universe Guidebook)" href="https://www.goodreads.com/book/show/24965903-endgame"><img alt="Endgame" border="0" src="https://d.gr-assets.com/books/1429216889m/24965903.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Lightning Stones (Philip Mercer, #8)" href="https://www.goodreads.com/book/show/24040547-the-lightning-stones"><img alt="The Lightning Stones" border="0" src="https://d.gr-assets.com/books/1430514334m/24040547.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Target America (Sniper Elite, #2)" href="https://www.goodreads.com/book/show/21412300-target-america"><img alt="Target America" border="0" src="https://d.gr-assets.com/books/1416788539m/21412300.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The God Engines" href="https://www.goodreads.com/book/show/6470498-the-god-engines"><img alt="The God Engines" border="0" src="https://d.gr-assets.com/books/1255398826m/6470498.jpg" /></a></div>
        <noscript>Visit <a href="https://www.goodreads.com/user/show/38621232-colin-bate">Colin on goodreads.com</a></noscript>
      </div>
    </div>
    <script src="https://www.goodreads.com/review/grid_widget/38621232.Colin's%20bookshelf:%20read?cover_size=medium&amp;hide_link=true&amp;hide_title=true&amp;num_books=20&amp;order=d&amp;shelf=read&amp;sort=date_read&amp;widget_id=1448248151" type="text/javascript" charset="utf-8"></script>
  </div>
</div>
{{ end }}
