.article-entry {
	font-family: "Droid Serif",serif;
	font-size: 18px;
}

.article-entry blockquote {
  text-align: left;
  font-size: 20px;
  font-family: "open sans","Helvetica Neue","Microsoft Yahei",Helvetica,Arial,sans-serif;
  color: #777;
  position: relative;
  margin-left: 16px;
  padding-left: 24px;
  border-left: 5px solid #ddd;
}

.article-entry blockquote:before {
  content: "“";
  font-family: "Georgia", "Droid Serif",serif;
  display: block;
  position: absolute;
  top: -5px;
  left: -19px;
  font-size: 80px;
  color: rgb(221, 221, 221);
  line-height: 1;
  background-color: #fff;
  height: 46px;
}

.article-type-page .article-entry {
	font-size: 20px;
}

.article-header .article-title {
	font-weight: bold;
}

/* SERIES SUPPORT */

.article-meta .article-series {
    color: #9A9EA3;
    clear: left;
    margin-right: 10px;
    padding-top: 8px;
}

.article-meta .article-series .article-series__link {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
}

.article-series-lists {
    border-top: 1px solid #ECEFF2;
    padding-top: 1.6em;
    margin: 0px 20px 20px;
}

.article-series-lists .article-series-lists__title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.article-series-list {
    
}

.article-series-list .article-series-list__title {
    
}

.article-series-list .article-series-list__list {
    
}

.article-series-list .article-series-list__listitem {
    list-style-type: decimal;
    list-style-position: inside;
}

.article-series-list .article-series-list__link {
    text-decoration: none;
}

.article-series-list .article-series-list__current {
  background-color: #006699;
  position: relative;
  display: inline-block;
  padding: 4px 7px 4px 3px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 12px;
  line-height: 1;
}

.article-series-list .article-series-list__current:before {
  position: absolute;
  content: "";
  top: 0;
  height: 0px;
  width: 0px;
  left: 3px;
  transform-origin: 0 0;
  transform: rotate(45deg);
  box-sizing: border-box;
  border: 7px solid black;
  border-color: transparent transparent #006699 #006699;
}

/* GIST STUFF */

.article-entry .gist {
    margin: 0 -20px;
    padding: 0 20px;
    background-color: #34383D;
}

.article-entry .gist .gist-file {
  padding-top: 5px;
}

.article-entry .gist .gist-file,
.article-entry .gist .gist-data {
    border-radius: 0;
    border: 0;
}

.article-entry .gist .blob-wrapper {
    border-radius: 0;
}

.article-entry .gist .gist-meta {
    background-color: #555;
    color: #fff;
    margin: 5px -20px 0;
    padding: 10px 30px;
}

.article-entry .gist .gist-meta a {
    color: #ddd;
}

.article-entry .gist .highlight {
    background-color: #34383D;
}

.article-entry .gist .blob-num {
    color: rgba(255,255,255,0.6);
}
.article-entry .gist .blob-num:hover {
    color: #fff;
}

.article-entry .gist .blob-code-inner {
    color: #f8f8f2;
}

.article-entry .gist .pl-c1,
.article-entry .gist .pl-s .pl-v {
    color: #00c0f3;
}

.article-entry .gist .pl-k,
.article-entry .gist .pl-ent {
    color: #ec008c;
}

.article-entry .gist .pl-e,
.article-entry .gist .pl-en {
    color: #dbe129;
}

.article-entry .gist .pl-pds,
.article-entry .gist .pl-s,
.article-entry .gist .pl-s .pl-pse .pl-s1,
.article-entry .gist .pl-sr,
.article-entry .gist .pl-sr .pl-cce,
.article-entry .gist .pl-sr .pl-sra,
.article-entry .gist .pl-sr .pl-sre {
    color: #6dd08e;
}

.article-entry .gist .pl-s .pl-s1,
.article-entry .gist .pl-smi {
    color: #f8f8f2;
}

.note {
	background-color: rgb(243, 236, 149);
	position: relative;
	padding: 1em 1em 1px 1em;
	-webkit-box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.5);
	box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.5);
}

.note__icon {
	position: absolute;
	top: -8px;
	left: -10px;
	font-size: 36px;
}

.note__text {
	margin-left: 1em;
}

.note__text p {
	margin: 1em 0;
}

.note__text p:first-child {
	margin-top: 0;
}

.funlink-banner {
	background: #ccc;
    background-image: url(//res.cloudinary.com/colinbate/image/upload/t_banner_center/colorful-connections_brymqv.jpg);
    background-size: cover;
    background-position: center center;
	width: 100%;
	height: 50px;
}

.default-banner {
	background: #ccc;
    background-image: url(//res.cloudinary.com/colinbate/image/upload/t_banner_center/startrail_a3qlxl.jpg);
    background-size: cover;
    background-position: center center;
	width: 100%;
	height: 50px;
}

.review-meta .review-cover {
    float: left;
    padding-right: 1.5em;
}

.star-rating {
    display: inline-block;
}

.star-rating .literal {
    position: absolute;
    top: -100em;
    left: -100em;
}

.star-rating .star {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z'/%3E%3C/svg%3E");
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.2em;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
}

.star-rating .star.star-full {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z'/%3E%3C/svg%3E");
}

.embed-jsbin-frame {
	margin: 0 -20px;
}

.embed-jsbin-frame iframe {
	border: 0 !important;
}

body > .container {
	overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
  .wide-main #main {
    display: inline;
    float: left;
    width: 75.384616%;
    margin: 0 0.7692307692308%;
  }
}