<article class="archive-article archive-type-post">
    <div class="archive-article-inner">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
        <div class="archive-article-thumbnail">
            <a href="{{ .Permalink }}" class="thumbnail">
                {{ if eq (substr .Params.banner 0 2) "C:" }}
                <span style="background-image:url({{ .Site.Params.cloudinary_prefix }}{{ substr .Params.banner 2 }})" alt="{{ .Title }}" class="thumbnail-image"></span>
                {{ else }}
                <span style="background-image:url({{ .Site.BaseURL }}{{ .Params.banner }})" alt="{{ .Title }}" class="thumbnail-image"></span>
                {{ end }}
                
            </a>
        </div>
        {{ else if in .Params.categories "Fun links" }}
        <div class="archive-article-thumbnail">
            <a href="{{ .Permalink }}" class="thumbnail funlink-banner"></a>
        </div>
        {{ else }}
        <div class="archive-article-thumbnail">
            <a href="{{ .Permalink }}" class="thumbnail default-banner"></a>
        </div>
        {{ end }}
        <header class="archive-article-header">
            <h1 itemprop="name">
                <a class="archive-article-title" href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <div class="archive-article-date">
                <i class="fa fa-calendar"></i>
                <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
            </div>
        </header>
    </div>
</article>