<section id="main">
    {{ $paginator := .Paginate (where .Site.Pages "Type" "blog") }}
    {{ range $paginator.Pages }}
    <article class="article article-type-post" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            <a href="{{ .Permalink }}" itemprop="url">
                {{ if eq (substr .Params.banner 0 2) "C:" }}
                <img src="{{ .Site.Params.cloudinary_prefix }}{{ substr .Params.banner 2 }}" class="article-banner">
                {{ else }}
                <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" class="article-banner">
                {{ end }}
            </a>
            {{ else if in .Params.categories "Fun links" }}
            <a href="{{ .Permalink }}" itemprop="url">
                <div class="funlink-banner"></div>
            </a>
            {{ end }}
            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody">
                <p>
                    {{ .Summary }}
                    <br>
                </p>
                <p class="article-more-link">
                    <a href="{{ .Permalink }}">
                        {{with .Site.Data.l10n.articles.read_more}}{{.}}{{end}}
                    </a>
                </p>
            </div>
            {{ partial "article_footer" . }}
        </div>
    </article>
    {{ end }}
    {{ partial "pagination" . }}
</section>
<!-- // main section -->