<section id="main">
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
                {{ if eq (substr .Params.banner 0 8) "https://" }}
                <img src="{{ .Params.banner }}" class="article-banner">
                {{ else if eq (substr .Params.banner 0 2) "C:" }}
                <img src="{{ .Site.Params.cloudinary_prefix }}{{ substr .Params.banner 2 }}" class="article-banner">
                {{ else }}
                <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" class="article-banner">
                {{ end }}
            {{ else if in .Params.categories "Fun links" }}
            <div class="funlink-banner"></div>
            {{ else }}
            <div class="default-banner"></div>
            {{ end }}

            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody">
                {{ .Content }}
            </div>
            {{ partial "series_list" . }}
            {{ partial "article_footer" . }}
        </div>

        {{ if ne .Page.Type "page" }}
            {{ partial "prev_next_post" . }}
        {{ end }}
    </article>
    <section id="comments">
        <p>There are no comments available on this site. If you want to respond then you can write your own blog article and send me the link via <a href="https://twitter.com/rhuvok" target="_blank">twitter</a>. If there is an issue with this article or the site in general, you can open an issue on <a href="https://github.com/colinbate/colin.is-static/issues" target="_blank">Github</a></p>
    </section>

</section>
